<div class="card shadow mx-auto my-3" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">
        <%= device.name %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
        Card subtitle
        </h6>
        
        <p class="card-text">
            
        Inserir opção de ligar e desligar
            
        </p>
    
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>
    </div>