<div class="card shadow mx-auto my-3" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">
    <%= tempData.name %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
    Card subtitle
    </h6>
    
    <p class="card-text">
        
    <% tempData.measurements.slice(-1).forEach((item) => { %>
        <li>Temperatura: <%= parseInt(item.temperature) %> graus</li>
        <li>Umidade <%= item.umidity %>%</li>
    <% }) %>
        
    </p>

    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
</div>
</div>