<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../../imports'); -%>
  </head>
  <body>
    <%- include('../../navbar'); -%>
    <div class="container">
        
        <div class="row">
            
            <h3 class="col-9">Administração de dispositivos</h3>
            
            <div class="col-3">

                <a
                class="btn btn-primary float-right"
                href="devices/create"
                >
                    Novo Dispositivo
                </a>
                
            </div>

        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <% actuators.forEach((device) => { %>
                    <tr>
                        <td><%= device.id %></td>
                        <td><%= device.name %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </div>

  </body>
</html>
